
.topbar-menu-item {
	margin: 0px;
	padding: 0px;
	display: block;
	text-align: left;
}

div.topbar-menu-item {
	margin: 0;
	padding: 0;
	width:830px;
	height: 26px;
	float:left;
}

ul.topbar-menu-item {
        border: 0; 
        margin: 0; 
        padding: 0;
        list-style-type: none; 
        text-align: center; 
}

li.topbar-menu-item {	
    display: block; 
	float: left; 
	text-align: center; 
	padding: 0; 
	margin: 0 3px 0 0; 
}

a.topbar-menu-item {
        background:url(../images/tab_inactive.png) no-repeat 0 3px; 
        width: 134px; 
        height: 26px;
		line-height:28px;
        color: #4068a0; 
        text-decoration: none; 
        display: block; 
        text-align: center;
	
}

a:hover.topbar-menu-item {
	font-weight:bold; 
}

a.active.topbar-menu-item { 
		line-height:25px;
        background:url(../images/tab_active.png) no-repeat top;
        color: #4068a0;
		font-weight:bold; 
} 


.sub-menu-item {
	margin: 0px;
	padding: 0px;
	display: block;
}

ul.sub-menu-item {
	position: absolute;
	background-color: #f3f3f3; 
}

li.sub-menu-item {	
	float: none;
	background: transparent;
	list-style: none;
	position:relative;
	padding: 1px;
	z-index:1;
}

a.sub-menu-item {
	text-decoration: none;
	color: #FFF;
	padding: 4px;
	margin: 0px;
	border: 0px groove transparent;
	background:url(../images/bg_tab.png) repeat;x top;
	white-space: nowrap;
}

a:hover.sub-menu-item {
	text-decoration: underline; 
}


a:hover.sub-menu-item {
	background-color: #404040;
	color: #ffffff;
	border: 0px solid #404040;
}



.topbar-search {
	margin: 0px;
	padding: 0px;
	font: 12px Tahoma, Arial;
}

table.topbar-search {
	float: right;
	height: 100%;
	border: 0px;
	background-color: transparent;
}

td.topbar-search {
	vertical-align: middle;
}

input.topbar-search {
	border: 1px solid #000000;
	margin-right: 5px;
	padding: 2px;
}

img.topbar-search {
	vertical-align: middle;
	display: inline;
	border: 0px;
	margin-right: 5px;
}

img.menu-arrow {
	margin-left: 5px; 
	border: 0px; 
	vertical-align: middle;
	display: inline;
}
